* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 36);
}

h1 {
    color: whitesmoke;
}

h3 {
    color: whitesmoke;
    
}

select {
    appearance: none;         /* Standard syntax */
    text-align: center;
    align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
-moz-appearance: textfield;
appearance: textfield;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 1rem;
}

.boxesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

.boxRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.box {
    width: 55px;
    height: 55px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0.35rem 0.45rem 0.5px orange;
}

.output {
    background: lightcyan;
    cursor: default;
}

.parallelInput {
    background-color: lightgoldenrodyellow;
    cursor: default;
}

.hidden {
    background-color: transparent;
    box-shadow: none;
    cursor: default;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    margin-top: 1rem;
}

.menu-btn {
    padding: 0.75rem 2.25rem;
    font-size: 1.5rem;
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}